:root {
  /*--------- Boje------------*/
  --background: #f5f5f5;
  --greenone: #46C793;
  --hardGray: #414141;
  --grayish: #4b4b5b;
  --dots: #c4c4c4;
  --black: #000;
  --white: #fff;
  --whiteish: #e6e6fa;
  --ligthGray: #d9d9d9;
  --footergreen: #46C793;
  --lightgrey: #c8c8c8;
  --copyright: white;
  /*---------- Fontovi ----------------*/
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --sansSourcePro: "Sans Source Pro", sans-serif;
  --russoOne: "Russo One", sans-serif;
  --prata: 'Prata', serif;
  /*--------- VeliÄine -------------*/
  --big: 64px;  
  --medium: 36px;
  --small: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
  font-family: var(--poppins);
  overflow-x: hidden;
}
/*---------- Dizajn navigacije ------------*/
header {
  margin: 50px 0;
}
nav {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
}
nav.fixed-nav {
  position: fixed;
  top: 0;
  transition: 0.3s;
  background-color: rgb(145, 89, 218);
  width: 100%;
  margin: 0;
  padding: 50px 0 0 70px;
  z-index: 5;
} 
.logo {
  position: relative;
  top: -10px;
  left: 10px;
  cursor: pointer;
  height: 70px;
}
.links2 {
  display: none;
}
.links {
  list-style: none;
  display: flex;
}
.links li {
  margin-right: 40px;
  position: relative;
}
.main {
  text-decoration: none;
  color: var(--greenone);
  font-weight: 500;
  font-size: var(--small);
  transition: 5ms ease-in;
}
.active {
  transform: scale(1, 1);
}
/*---------------- Gornja sekcija---------------*/
section {
  width: 87%;
  margin: auto;
  align-items: center;
  margin-bottom: 150px;
}
.left-section {
  padding-top: 100px;
}
.left-section h1 {
  color: var(--hardGray);
  font-weight: 600;
  font-size: 96px;
}
.left-section p {
  color: var(--hardGray);
  padding: 20px 0px;
  font-weight: 300;
  font-size: 24px;
}
.picture {
  margin-left: 100px;
}
.nav-toggle {
  display: none;
}
/*---------------About--------------*/
.about-us {
  width: 100%;
  margin-bottom: 150px;
}
.about-us h2 {
  margin-left: 120px;
}
.about-type {
  background-color: var(--greenone);
  height: 475px;
  overflow: hidden;
}
.about-info {
  display: flex;
  margin-left: 400px;
  align-items: center;
  height: 475px;
}
.details h3 {
  font-size: 48px;
  color: var(--white);
  font-family: var(--sansSourcePro);
  padding-bottom: 20px;
}
.details p {
  color: var(--ligthGray);
  text-transform: capitalize;
  font-size: 24px;
  float: right;
}
.left-arrow {
  padding-right: 140px;
  cursor: pointer;
}
.rigth-arrow {
  height: 475px;
  position: relative;
}
.arrow-right {
  cursor: pointer;
  position: absolute;
  top: 250px;
  margin-left: 650px;
}
/*-------------- Donja sekcija ------------------*/
.faq {
  height: 100vh;
  padding: 50px 0 400px 0;
  margin-bottom: 30px;
}
.faq h2 {
  text-align: center;
  color: var(--hardGray);
  font-size: var(--medium);
}
.faq p {
  text-align: center;
  color: var(--grayish);
}
.accordion {
  max-width: 900px;
  margin: 30px auto 0;
}
.accordion__item {
  margin-bottom: 5px;
}
.accordion__title {
  background: transparent;
  padding: 20px;
  border-bottom: 1px solid var(--hardGray);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: var(--small);
}
.accordion__content p {
  text-align: left;
  font-size: 16px;
}
.accordion__title::after {
  font-family: 'Font Awesome 5 Free';
  content:'\f078';
  color: var(--greenone);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  height: 1em;
  transition: transform 0.3s ease-in;
}
.is-open .accordion__title::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion__body {
  border-radius: 5px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.accordion__content {
  background: #f4f4f4;
  border-radius: 4px;
  padding: 15px;
  margin-top: 5px;
}
/*-------------------Footer------------------*/
.small-footer {
  width: 100%;
  background-color: var(--footergreen);
  height: auto;
  padding: 100px;
  margin-bottom: -20px;
}
.icons i {
  color: var(--white);
  padding: 50px 50px 50px 0px;
  align-items: center;
}
.small-footer p {
  color: var(--white);
  font-size: 20px;
  font-weight: 100;
}
.copyright {
  padding-right: 60px;
  text-align: center;
}
.footer-txt p {
  color: var(--white);
  font-size: 20px;
  position:relative;
  top:-250px;
  text-align:right;
}
.copyright p {
  color: var(--copyright);
  font-size: 18px;
  padding: 10px;
  margin: 0;
}
@media only screen and (max-width: 1600px) {
  .details{
    margin-left: 150px;
  }
  .details h3 {
    font-size: 40px;
  }
  .details p {
    font-size: 18px;
  }
  .about-info {
    margin-left: 20px;
  }
  .arrow-right {
    margin-left: 500px;
  }
  .about-us h2 {
    margin-left: 40px;
  }
  .picture {
    max-width: 579px;
    margin-left: 50px;
  }
  .small-footer {
    padding: 125px 70px 0 70px;
  }
}
@media only screen and (max-width: 1265px) {
  .body {
    background: var(--background);
  }
}
@media only screen and (max-width: 1100px) {
  .picture {
    max-width: 500px;
    margin-left: 20px;
  }
  .left-section h1 {
    font-size: 75px;
  }
  .left-section p {
    font-size: 18px;
  }
  .left-section {
    padding-top: 50px;
  }
  ul li {
    margin-bottom: 20px;
  }
  .main {
    color: var(--greenone);
    font-size: 24px;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;

    overflow-x: hidden;
    transition: 0.5s;
    color:var(--greenone);

  }
  .links {
    display: none;
  }
  .links2 {
    display: block;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
    width: 100%;
    list-style: none;
    text-align: center;
  }
  .nav-toggle {
    display: block;
    padding: 0.5rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 5em;
    top: 3em;
    z-index: 1000;
    outline: none;
  }
  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }
  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }
  .nav-open .hamburger::after {
    opacity: 0;
  }
  .hamburger {
    display: block;
    position: relative;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--greenone);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }
  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }
  .hamburger::before {
    top: 6px;
  }
  .hamburger::after {
    bottom: 6px;
  }
  .ham2,
  .ham2:after,
  .ham2:before{
    background-color: var(--white);
  }
  .details h3 {
    font-size: 30px;
    text-align:initial;
  }
  .details p {
    font-size: 15px;
  }
  .arrow-right {
    margin-left: 400px;
  }
  .about-type {
    height: 600px;
  }
  .small-footer {
    padding: 125px 0 0 0;
  }
  .ham2,.ham2:after,.ham2:before{
    background-color: var(--greenone);
  }
}
@media only screen and (max-width: 970px) {
  .picture {
    margin-left: 0px;
  }
  header {
    margin: 50px 30px 50px 0px;
  }
  .logo{
    margin-left: -35px;
  }
  .picture {
    margin-left: 0px;
  }
  .arrow-right {
    margin-left: 300px;
  }
  .form {
    width: 90%;
    margin-right: 20px;
  }
  .img2 {
    width: 250px;
  border-left: 20px;
}
}
@media only screen and (max-width: 801px) {
  .picture {
    width: 550px;
  }
  .left-arrow {
    padding-right: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .picture {
    width: 550px;
  }
  .left-arrow {
    padding-right: 50px;
  }
  .icons {
    margin-bottom: 40px;
    margin-left: 60px;
  }
  .small-footer {
    padding: 125px 50px 0px 50px;
  }
  .footer-txt{
    color: var(--white);
    font-size: 20px;
    position: relative;
    top:-50px;
    text-align: right;
  }
  .about-type {
    height: 790px;
  }
  .arrow-right {
    position: absolute;
    left: 210px;
    top: -237px;
  }
  .esc1, .esc2, .esc3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top:-125px;
  }
}
@media only screen and (max-width: 550px) {
  .about-type {
    height: 670px;
  }
  .details{
    margin-left: 100px;
    margin-bottom: 30px;
  }
  .arrow-right {
    position: absolute;
    left: 140px;
  }
  .small-footer {
    width: 100%;
    background-color: var(--footergreen);
    height: auto;
    padding: 50px;
    margin-bottom: -20px;
  }
  .small-footer img{
  position:relative;
  left: -50px;
  }
  .footer-txt{
  color: var(--white);
  font-size: 20px;
  position:relative;
  top:-130px;
  text-align:right;
  }
  .icons i {
    align-items: center;
    margin-left:15px;
  }
  .copyright {
    text-align: center;
    margin-left:25px;
  }
}
@media only screen and (max-width: 463px) {
  .picture{
    width: 340px;
  }
  .about-info{
    margin-left: 5px;
  }
  .details{
    margin-right: 20px;
  }
  .details{
    margin-left: 50px;
  }
  .arrow-right{
    left: 120px;
    top: -248px;
  }
  .arrow-right{
    margin-left: 220px;
  }
  .details>p{
    margin-top: 20px;
  }
  .nav-toggle{
    margin-right: -150px;
  }
  .left-section h1{
    font-size: 70px;
  }
  .nav-toggle{
    margin-right: -30px;
    margin-top: 7px;
  }
  .small-footer {
    width: 100%;
    background-color: var(--footergreen);
    height: auto;
    padding: 50px;
    margin-bottom: -20px;
  }
  .small-footer img{
  position:relative;
  left: -50px;
  }
  .footer-txt{
  color: var(--white);
  font-size: 20px;
  position:relative;
  top:-130px;
  text-align:right;
  }
  .icons i {
    align-items: center;
    margin-left:15px;
  }
  .copyright {
    text-align: center;
    margin-left:25px;
  }
}
@media only screen and (max-width: 412px) {
  .picture{
    width: 340px;
  }
  .about-info{
    margin-left: 5px;
  }
  .details{
    margin-right: 20px;
  }
  .details{
    margin-left: 50px;
  }
  .arrow-right{
    left: 120px;
    top: -248px;
  }
  .arrow-right{
    margin-left: 220px;
  }
  .details>p{
    margin-top: 20px;
  }
  .nav-toggle{
    margin-right: -150px;
  }
  .left-section h1{
    font-size: 70px;
  }
  .nav-toggle{
    margin-right: -30px;
    margin-top: 7px;
  }
  .small-footer {
    width: 100%;
    background-color: var(--footergreen);
    height: auto;
    padding: 50px;
    margin-bottom: -20px;
  }
  .small-footer img{
  position:relative;
  left: -105px;
  }
  .footer-txt{
  color: var(--white);
  font-size: 20px;
  position:relative;
  top:-130px;
  margin-right:-35px;
  text-align:right;
  }
  .icons i {
    align-items: center;
    margin-left:-10px;
  }
  .copyright {
    text-align: center;
    margin-left:25px;
  }
}